<form class="action-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <p><%- messageText %></p>
  <div class="form-actions">
    <button type="submit" class="btn btn-<%- formActionSeverity %>"><%- formActionText %></button>
    <% if (cancelUrl === '#') { %>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
    <% } else { %>
    <a class="cancel" href="<%- cancelUrl %>"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></a>
    <% } %>
  </div>
</form>
