<div class="form-group">
  <label for="<%- idPrefix %>-limit"><%- t('core', 'filter:limit') %></label>
  <input id="<%- idPrefix %>-limit" class="form-control" name="limit" type="number" min="<%- min %>" max="<%- max %>" step="1">
</div>
