<div class="panel panel-default xiconfPrograms-stepPanel xiconfPrograms-stepPanel-iso xiconfPrograms-stepPanel-glp2">
  <div class="panel-heading is-with-actions">
    <span class="xiconfPrograms-form-stepNo">0.</span> <%- t('xiconfPrograms', 'step:iso') %>
    <% include _stepPanelActions.ejs %>
  </div>
  <div class="panel-body has-lastElementRow">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-label" class="control-label is-required"><%- t('xiconfPrograms', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" name="steps[<%- stepIndex %>].label" value="<%- t('xiconfPrograms', 'step:iso') %>" required maxlength="32">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-startTime" class="control-label is-required"><%- t('xiconfPrograms', 'PROPERTY:startTime') %></label>
        <input id="<%- idPrefix %>-startTime" class="form-control xiconfPrograms-form-duration" type="text" name="steps[<%- stepIndex %>].startTime" value="0s" required>
      </div>
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-duration" class="control-label is-required"><%- t('xiconfPrograms', 'PROPERTY:duration') %></label>
        <input id="<%- idPrefix %>-duration" class="form-control xiconfPrograms-form-duration" type="text" name="steps[<%- stepIndex %>].duration" value="1s" required>
      </div>
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-totalTime" class="control-label"><%- t('xiconfPrograms', 'PROPERTY:totalTime') %></label>
        <p class="form-control-static xiconfPrograms-form-totalTime">1s</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-mode" class="control-label is-required"><%- t('xiconfPrograms', 'PROPERTY:mode') %></label>
        <select id="<%- idPrefix %>-mode" class="form-control xiconfPrograms-form-glp2-mode" name="steps[<%- stepIndex %>].mode">
          <option value="0" data-label="glp2:iso:mode:0:label" data-min="1.0" data-max="500.0" data-step="0.1" selected><%- t('xiconfPrograms', 'glp2:iso:mode:0') %></option>
          <option value="1" data-label="glp2:iso:mode:1:label" data-min="0.001" data-max="3.000" data-step="0.001"><%- t('xiconfPrograms', 'glp2:iso:mode:1') %></option>
          <option value="2" data-label="glp2:iso:mode:2:label" data-min="10" data-max="1000" data-step="1"><%- t('xiconfPrograms', 'glp2:iso:mode:2') %></option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-setValue" class="control-label is-required"><%- t('xiconfPrograms', 'glp2:iso:mode:0:label') %></label>
        <input id="<%- idPrefix %>-setValue" class="form-control xiconfPrograms-form-glp2-setValue" type="number" name="steps[<%- stepIndex %>].setValue" min="1.0" max="500.0" step="0.1" value="2" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-u" class="control-label is-required"><%- t('xiconfPrograms', 'glp2:iso:u') %></label>
        <input id="<%- idPrefix %>-u" class="form-control" type="number" name="steps[<%- stepIndex %>].u" min="100" max="1000" step="1" value="500" required>
      </div>
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-rMax" class="control-label is-required"><%- t('xiconfPrograms', 'glp2:iso:rMax') %></label>
        <input id="<%- idPrefix %>-rMax" class="form-control" type="number" name="steps[<%- stepIndex %>].rMax" min="0" max="500" step="1" value="0" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="<%- idPrefix %>-ramp" class="control-label is-required"><%- t('xiconfPrograms', 'glp2:iso:ramp') %></label>
        <input id="<%- idPrefix %>-ramp" class="form-control xiconfPrograms-form-duration" type="text" name="steps[<%- stepIndex %>].ramp" data-min="0" data-max="60" value="0s" required>
      </div>
    </div>
  </div>
  <input type="hidden" name="steps[<%- stepIndex %>].probe" value="0">
  <input type="hidden" name="steps[<%- stepIndex %>].connection" value="1">
  <input type="hidden" name="steps[<%- stepIndex %>].retries" value="0">
  <input type="hidden" name="steps[<%- stepIndex %>].cancelOnFailure" value="1">
  <input type="hidden" name="steps[<%- stepIndex %>].enabled" value="1">
  <input type="hidden" name="steps[<%- stepIndex %>].multi" value="0">
  <input type="hidden" name="steps[<%- stepIndex %>].minSetValue" value="0">
  <input type="hidden" name="steps[<%- stepIndex %>].type" value="iso">
</div>
