<div id="<%- idPrefix %>-fl" class="panel-body settings-hasRowLast">
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-flResource1" class="control-label"><%- t('settings', 'setting:flResource1') %></label>
      <input id="<%- idPrefix %>-flResource1" class="form-control" name="flResource1" type="url" placeholder="coap://">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-flResource2" class="control-label"><%- t('settings', 'setting:flResource2') %></label>
      <input id="<%- idPrefix %>-flResource2" class="form-control" name="flResource2" type="url" placeholder="coap://">
    </div>
  </div>
</div>
