<div id="<%- idPrefix %>-hotkeys" class="panel-body settings-hasRowLast">
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-showDashboardPage" class="control-label"><%- t('settings', 'hotkey:showDashboardPage') %></label>
      <input id="<%- idPrefix %>-showDashboardPage" class="form-control" name="hotkeys.showDashboardPage" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-showHistoryPage" class="control-label"><%- t('settings', 'hotkey:showHistoryPage') %></label>
      <input id="<%- idPrefix %>-showHistoryPage" class="form-control" name="hotkeys.showHistoryPage" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-showProgramsPage" class="control-label"><%- t('settings', 'hotkey:showProgramsPage') %></label>
      <input id="<%- idPrefix %>-showProgramsPage" class="form-control" name="hotkeys.showProgramsPage" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-showSettingsPage" class="control-label"><%- t('settings', 'hotkey:showSettingsPage') %></label>
      <input id="<%- idPrefix %>-showSettingsPage" class="form-control" name="hotkeys.showSettingsPage" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-focusOrderNo" class="control-label"><%- t('settings', 'hotkey:focusOrderNo') %></label>
      <input id="<%- idPrefix %>-focusOrderNo" class="form-control" name="hotkeys.focusOrderNo" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-focusQuantity" class="control-label"><%- t('settings', 'hotkey:focusQuantity') %></label>
      <input id="<%- idPrefix %>-focusQuantity" class="form-control" name="hotkeys.focusQuantity" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-focusNc12" class="control-label"><%- t('settings', 'hotkey:focusNc12') %></label>
      <input id="<%- idPrefix %>-focusNc12" class="form-control" name="hotkeys.focusNc12" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-focusLog" class="control-label"><%- t('settings', 'hotkey:focusLog') %></label>
      <input id="<%- idPrefix %>-focusLog" class="form-control" name="hotkeys.focusLog" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-focusHistory" class="control-label"><%- t('settings', 'hotkey:focusHistory') %></label>
      <input id="<%- idPrefix %>-focusHistory" class="form-control" name="hotkeys.focusHistory" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-toggleInputMode" class="control-label"><%- t('settings', 'hotkey:toggleInputMode') %></label>
      <input id="<%- idPrefix %>-toggleInputMode" class="form-control" name="hotkeys.toggleInputMode" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-reload" class="control-label"><%- t('settings', 'hotkey:reload') %></label>
      <input id="<%- idPrefix %>-reload" class="form-control" name="hotkeys.reload" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-reset" class="control-label"><%- t('settings', 'hotkey:reset') %></label>
      <input id="<%- idPrefix %>-reset" class="form-control" name="hotkeys.reset" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-setProgram" class="control-label"><%- t('settings', 'hotkey:setProgram') %></label>
      <input id="<%- idPrefix %>-setProgram" class="form-control" name="hotkeys.setProgram" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-printServiceTag" class="control-label"><%- t('settings', 'hotkey:printServiceTag') %></label>
      <input id="<%- idPrefix %>-printServiceTag" class="form-control" name="hotkeys.printServiceTag" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-start" class="control-label"><%- t('settings', 'hotkey:start') %></label>
      <input id="<%- idPrefix %>-start" class="form-control" name="hotkeys.start" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-cancel" class="control-label"><%- t('settings', 'hotkey:cancel') %></label>
      <input id="<%- idPrefix %>-cancel" class="form-control" name="hotkeys.cancel" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-toggleWorkMode" class="control-label"><%- t('settings', 'hotkey:toggleWorkMode') %></label>
      <input id="<%- idPrefix %>-toggleWorkMode" class="form-control" name="hotkeys.toggleWorkMode" type="text" pattern="<%- hotkeyPattern %>">
    </div>
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-continue" class="control-label"><%- t('settings', 'hotkey:continue') %></label>
      <input id="<%- idPrefix %>-continue" class="form-control" name="hotkeys.continue" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="<%- idPrefix %>-closeDialog" class="control-label"><%- t('settings', 'hotkey:closeDialog') %></label>
      <input id="<%- idPrefix %>-closeDialog" class="form-control" name="hotkeys.closeDialog" type="text" pattern="<%- hotkeyPattern %>">
    </div>
  </div>
</div>
