<div id="<%- idPrefix %>-mow" class="panel-body">
  <div class="form-group">
    <label class="control-label"><%- t('settings', 'mowVersion:supported') %></label>
    <p class="form-control-static">3.13</p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('settings', 'mowVersion:installed') %></label>
    <p id="<%- idPrefix %>-mowVersion" class="form-control-static"><%- multiOneWorkflowVersion %></p>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-workflow" class="control-label"><%- t('settings', 'setting:workflow') %></label>
    <div>
      <label class="checkbox-inline">
        <input id="<%- idPrefix %>-workflow" name="workflowVerify" type="checkbox" value="1"> <%- t('settings', 'setting:workflowVerify') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowIdentifyAlways" type="checkbox" value="1"> <%- t('settings', 'setting:workflowIdentifyAlways') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowMultiDevice" type="checkbox" value="1"> <%- t('settings', 'setting:workflowMultiDevice') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowCheckDeviceModel" type="checkbox" value="1"> <%- t('settings', 'setting:workflowCheckDeviceModel') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowCheckDevicePresent" type="checkbox" value="1"> <%- t('settings', 'setting:workflowCheckDevicePresent') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowCommissionAll" type="checkbox" value="1"> <%- t('settings', 'setting:workflowCommissionAll') %>
      </label>
      <label class="checkbox-inline">
        <input name="workflowDaliFactoryNew" type="checkbox" value="1"> <%- t('settings', 'setting:workflowDaliFactoryNew') %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-interface" class="control-label"><%- t('settings', 'setting:interface') %></label>
      <select id="<%- idPrefix %>-interface" class="form-control" name="interface" required>
        <option value="d"><%- t('settings', 'setting:interface:d') %></option>
        <option value="s"><%- t('settings', 'setting:interface:s') %></option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-mowUniqueId" class="control-label"><%- t('settings', 'setting:mowUniqueId') %></label>
      <input id="<%- idPrefix %>-mowUniqueId" class="form-control" name="mowUniqueId" type="text">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-continueOnWarnings" class="control-label"><%- t('settings', 'setting:continueOnWarnings') %></label>
      <select id="<%- idPrefix %>-continueOnWarnings" class="form-control" name="continueOnWarnings" required>
        <option value="continue"><%- t('settings', 'setting:continueOnWarnings:continue') %></option>
        <option value="halt"><%- t('settings', 'setting:continueOnWarnings:halt') %></option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-logVerbosity" class="control-label"><%- t('settings', 'setting:logVerbosity') %></label>
      <select id="<%- idPrefix %>-logVerbosity" class="form-control" name="logVerbosity" required>
        <option value="info"><%- t('settings', 'setting:logVerbosity:info') %></option>
        <option value="error"><%- t('settings', 'setting:logVerbosity:error') %></option>
        <option value="fatal"><%- t('settings', 'setting:logVerbosity:fatal') %></option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-programmerFile" class="control-label"><%- t('settings', 'setting:programmerFile') %></label>
    <input id="<%- idPrefix %>-programmerFile" class="form-control" name="programmerFile" type="text" required>
  </div>
  <div class="form-group">
    <label class="control-label"><input type="checkbox" name="schedulerEnabled" value="1"> <%- t('settings', 'setting:schedulerFile') %></label>
    <input id="<%- idPrefix %>-schedulerFile" class="form-control" name="schedulerFile" type="text">
  </div>
  <div class="form-group">
    <label class="control-label"><input type="checkbox" name="supportedDevicesEnabled" value="1"> <%- t('settings', 'setting:supportedDevicesFile') %></label>
    <input id="<%- idPrefix %>-supportedDevicesFile" class="form-control" name="supportedDevicesFile" type="text">
  </div>
  <div class="form-group">
    <label class="control-label"><input type="checkbox" name="mowLabelDataLocationEnabled" value="1"> <%- t('settings', 'setting:mowLabelDataLocation') %></label>
    <input id="<%- idPrefix %>-mowLabelDataLocation" class="form-control" name="mowLabelDataLocation" type="text">
  </div>
</div>
