<div id="<%- idPrefix %>-settings" class="panel-body active settings-hasRowLast">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-title" class="control-label"><%- t('settings', 'setting:title') %></label>
      <input id="<%- idPrefix %>-title" class="form-control" name="title" type="text" maxlength="20">
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-password1" class="control-label"><%- t('settings', 'setting:password1') %></label>
      <input id="<%- idPrefix %>-password1" class="form-control" name="password1" type="password">
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-password2" class="control-label"><%- t('settings', 'setting:password2') %></label>
      <input id="<%- idPrefix %>-password2" class="form-control" name="password2" type="password">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-protectInputMode" class="control-label"><%- t('settings', 'setting:protectInputMode') %></label>
      <div>
        <label class="radio-inline">
          <input id="<%- idPrefix %>-protectInputMode" name="protectInputMode" type="radio" value="1" required> <%- t('settings', 'setting:protectInputMode:on') %>
        </label>
        <label class="radio-inline">
          <input name="protectInputMode" type="radio" value="0" required> <%- t('settings', 'setting:protectInputMode:off') %>
        </label>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-orders" class="control-label"><%- t('settings', 'setting:orders') %></label>
      <div>
        <label class="radio-inline">
          <input id="<%- idPrefix %>-orders" name="orders" type="radio" value="disabled" required> <%- t('settings', 'setting:orders:disabled') %>
        </label>
        <label class="radio-inline">
          <input name="orders" type="radio" value="optional" required> <%- t('settings', 'setting:orders:optional') %>
        </label>
        <label class="radio-inline">
          <input name="orders" type="radio" value="required" required> <%- t('settings', 'setting:orders:required') %>
        </label>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-imWorkin" class="control-label"><%- t('settings', 'setting:imWorkin') %></label>
      <div>
        <label class="radio-inline">
          <input id="<%- idPrefix %>-imWorkin" name="imWorkin" type="radio" value="1" required> <%- t('settings', 'setting:imWorkin:on') %>
        </label>
        <label class="radio-inline">
          <input name="imWorkin" type="radio" value="0" required> <%- t('settings', 'setting:imWorkin:off') %>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-programDelay" class="control-label"><%- t('settings', 'setting:programDelay') %></label>
      <input id="<%- idPrefix %>-programDelay" class="form-control" name="programDelay" type="number" min="0" max="60">
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-cancelDelay" class="control-label"><%- t('settings', 'setting:cancelDelay') %></label>
      <input id="<%- idPrefix %>-cancelDelay" class="form-control" name="cancelDelay" type="number" min="0" max="60000">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-blockageInterval" class="control-label"><%- t('settings', 'setting:blockageInterval') %></label>
      <input id="<%- idPrefix %>-blockageInterval" class="form-control" name="blockageInterval" type="number" min="0" max="1000">
    </div>
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-blockageDuration" class="control-label"><%- t('settings', 'setting:blockageDuration') %></label>
      <input id="<%- idPrefix %>-blockageDuration" class="form-control" name="blockageDuration" type="number" min="0" max="999">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label for="<%- idPrefix %>-featurePath1" class="control-label"><%- t('settings', 'setting:featurePath1') %></label>
      <input id="<%- idPrefix %>-featurePath1" class="form-control" name="featurePath1" type="text" required>
    </div>
    <div class="form-group col-md-2">
      <label for="<%- idPrefix %>-searchTimeout1" class="control-label"><%- t('settings', 'setting:searchTimeout1') %></label>
      <input id="<%- idPrefix %>-searchTimeout1" class="form-control" name="searchTimeout1" type="number" required min="100">
    </div>
    <div class="form-group col-md-2">
      <label for="<%- idPrefix %>-readTimeout1" class="control-label"><%- t('settings', 'setting:readTimeout1') %></label>
      <input id="<%- idPrefix %>-readTimeout1" class="form-control" name="readTimeout1" type="number" required min="100">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label for="<%- idPrefix %>-featurePath2" class="control-label"><%- t('settings', 'setting:featurePath2') %></label>
      <input id="<%- idPrefix %>-featurePath2" class="form-control" name="featurePath2" type="text">
    </div>
    <div class="form-group col-md-2">
      <label for="<%- idPrefix %>-searchTimeout2" class="control-label"><%- t('settings', 'setting:searchTimeout2') %></label>
      <input id="<%- idPrefix %>-searchTimeout2" class="form-control" name="searchTimeout2" type="number" required min="100">
    </div>
    <div class="form-group col-md-2">
      <label for="<%- idPrefix %>-readTimeout2" class="control-label"><%- t('settings', 'setting:readTimeout2') %></label>
      <input id="<%- idPrefix %>-readTimeout2" class="form-control" name="readTimeout2" type="number" required min="100">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="<%- idPrefix %>-backupDelay" class="control-label"><%- t('settings', 'setting:backupDelay') %></label>
      <input id="<%- idPrefix %>-backupDelay" class="form-control" name="backupDelay" type="number" min="5" max="3600" step="1" required>
    </div>
    <div class="form-group col-md-8">
      <div class="radio">
        <label>
          <input name="backupPath" type="radio" value="1"> <%- t('settings', 'setting:backupPath:1') %>
        </label>
      </div>
      <div class="radio">
        <label>
          <input name="backupPath" type="radio" value="2"> <%- t('settings', 'setting:backupPath:2') %>
        </label>
      </div>
    </div>
  </div>
</div>
