<form class="settings-form" method="post" action="/settings" autocomplete="off">
  <ul class="nav nav-tabs">
    <li data-tab="settings" class="active"><a id="<%- idPrefix %>-tab-settings" href="#<%- idPrefix %>-settings" data-toggle="tab"><%- t('settings', 'form:settings') %></a></li>
    <li data-tab="remote"><a id="<%- idPrefix %>-tab-remote" href="#<%- idPrefix %>-remote" data-toggle="tab"><%- t('settings', 'form:remote') %></a></li>
    <li data-tab="mow"><a id="<%- idPrefix %>-tab-mow" href="#<%- idPrefix %>-mow" data-toggle="tab"><%- t('settings', 'form:mow') %></a></li>
    <li data-tab="gprs"><a id="<%- idPrefix %>-tab-gprs" href="#<%- idPrefix %>-gprs" data-toggle="tab"><%- t('settings', 'form:gprs') %></a></li>
    <li data-tab="lpt"><a id="<%- idPrefix %>-tab-lpt" href="#<%- idPrefix %>-lpt" data-toggle="tab"><%- t('settings', 'form:lpt') %></a></li>
    <li data-tab="sol"><a id="<%- idPrefix %>-tab-sol" href="#<%- idPrefix %>-sol" data-toggle="tab"><%- t('settings', 'form:sol') %></a></li>
    <li data-tab="testing"><a id="<%- idPrefix %>-tab-testing" href="#<%- idPrefix %>-testing" data-toggle="tab"><%- t('settings', 'form:testing') %></a></li>
    <li data-tab="glp2"><a id="<%- idPrefix %>-tab-glp2" href="#<%- idPrefix %>-glp2" data-toggle="tab"><%- t('settings', 'form:glp2') %></a></li>
    <li data-tab="hotkeys"><a id="<%- idPrefix %>-tab-hotkeys" href="#<%- idPrefix %>-hotkeys" data-toggle="tab"><%- t('settings', 'form:hotkeys') %></a></li>
    <li data-tab="license"><a id="<%- idPrefix %>-tab-license" href="#<%- idPrefix %>-license" data-toggle="tab"><%- t('settings', 'form:license') %></a></li>
  </ul>
  <div class="panel panel-default tab-content">
    <% include _settings.ejs %>
    <% include _remote.ejs %>
    <% include _mow.ejs %>
    <% include _gprs.ejs %>
    <% include _lpt.ejs %>
    <% include _sol.ejs %>
    <% include _testing.ejs %>
    <% include _glp2.ejs %>
    <% include _hotkeys.ejs %>
    <% include _license.ejs %>
    <div class="panel-footer">
      <input id="<%- idPrefix %>-password" class="form-control" name="password" type="password" required placeholder="<%- t('settings', 'form:password') %>"><input
        type="submit" class="btn btn-primary settings-save" value="<%- t('settings', 'form:submit') %>"><input
        type="button" class="btn btn-default settings-export" value="<%- t('settings', 'form:export') %>"><input
        type="button" class="btn btn-danger settings-restart" value="<%- t('settings', 'form:restart') %>">
    </div>
  </div>
</form>
