<form class="settings-form" method="post" action="/settings" autocomplete="off">
  <div class="list-group">
    <% ['settings', 'remote', 'mow', 'gprs', 'lpt', 'sol', 'testing', 'glp2', 'ft', 'fl', 'weight', 'scanner', 'hotkeys', 'license', 'import'].forEach(function(tab) { %>
    <a data-tab="<%- tab %>" class="list-group-item" href="#settings?tab=<%- tab %>"><%- t('settings', 'form:' + tab) %></a>
    <% }) %>
  </div>
  <div class="panel panel-primary">
    <% include _settings.ejs %>
    <% include _remote.ejs %>
    <% include _mow.ejs %>
    <% include _gprs.ejs %>
    <% include _lpt.ejs %>
    <% include _sol.ejs %>
    <% include _testing.ejs %>
    <% include _glp2.ejs %>
    <% include _ft.ejs %>
    <% include _fl.ejs %>
    <% include _weight.ejs %>
    <% include _hotkeys.ejs %>
    <% include _license.ejs %>
    <% include _import.ejs %>
    <% include _scanner.ejs %>
    <div class="panel-footer">
      <input id="<%- idPrefix %>-password" class="form-control" name="password" type="password" required placeholder="<%- t('settings', 'form:password') %>"><input
        type="submit" class="btn btn-primary settings-save" id="<%- idPrefix %>-submit" value="<%- t('settings', 'form:submit') %>"><input
        type="button" class="btn btn-default settings-export" value="<%- t('settings', 'form:export') %>"><input
        type="button" class="btn btn-danger settings-restart" value="<%- t('settings', 'form:restart') %>"><input
        type="button" class="btn btn-warning settings-logs" value="<%- t('settings', 'form:logs') %>">
    </div>
  </div>
</form>
