<div class="panel panel-default programs-details-pe">
  <div class="panel-heading">
    <%- t('programs', 'step:pe') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:startTime') %></div>
        <div class="prop-value"><%= time.toString(step.startTime) %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:duration') %></div>
        <div class="prop-value"><%= time.toString(step.duration) %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:voltage') %></div>
        <div class="prop-value"><%= step.voltage.toLocaleString() %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:resistance:max') %></div>
        <div class="prop-value"><%= step.resistanceMax.toLocaleString() %></div>
      </div>
    </div>
  </div>
</div>
