<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <%- t('programs', 'PANEL:TITLE:details') %>
    </div>
    <div class="panel-details">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:name') %></div>
          <div class="prop-value"><%= model.name %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:createdAt') %></div>
          <div class="prop-value"><%= model.createdAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:updatedAt') %></div>
          <div class="prop-value"><%= model.updatedAt %></div>
        </div>
      </div>
    </div>
  </div>
  <% model.steps.forEach(function(step) { %>
  <% include _stepDetails.ejs %>
  <% }) %>
</div>

