<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-name"><%- t('programs', 'PROPERTY:name') %></label>
    <input id="<%- idPrefix %>-name" class="form-control" name="name" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('programs', 'filter:submit') %></span></button>
  </div>
</form>
