<form class="programs-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- t('programs', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" maxlength="100" required autofocus>
      </div>
      <%- include _peForm.ejs %>
      <%- include _solForm.ejs %>
      <%- include _fnForm.ejs %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
