<li class="list-group-item list-group-item-<%- className %> dashboard-hidLamps-hidLamp">
  <div class="dashboard-hidLamps-status"><i class="fa <%- statusIcon %>"></i></div>
  <div class="dashboard-hidLamps-scanResult" title="<%= fullScanResult %>"><%- shortScanResult %></div>
  <div class="dashboard-hidLamps-info" title="<%= name %>">
    <span class="dashboard-hidLamps-name"><%= name %></span>
    <span class="dashboard-hidLamps-nc12"><%= nc12 %></span>
  </div>
  <div class="dashboard-hidLamps-error"><%- error %></div>
</li>
