<a data-id="<%- _id %>" href="<%- href %>" class="list-group-item list-group-item-<%- className %> <%- cancelled ? 'is-cancelled' : '' %>">
  <span class="dashboard-history-time"><%- time %></span>
  <span class="dashboard-history-orderNo"><%- orderNo %></span>
  <span class="dashboard-history-quantity"><%- quantity %></span>
  <span class="dashboard-history-serviceTag"><%- serviceTag %></span>
  <span class="dashboard-history-nc12"><%- nc12 %></span>
  <span class="dashboard-history-programName"><%- programName %></span>
  <span>&nbsp;</span>
</a>
