<form class="dashboard-input">
  <div class="dashboard-input-orderNoAndQuantity">
    <div class="dashboard-input-orderNo kbd-container">
      <label for="<%- idPrefix %>-orderNo" class="dashboard-header"><%- t('dashboard', 'input:orderNo') %></label>
      <input id="<%- idPrefix %>-orderNo" class="form-control" type="text" maxlength="9">
      <kbd data-hotkey="focusOrderNo" class="is-inside">?</kbd>
      <div class="dashboard-input-actions">
        <button id="<%- idPrefix %>-reload" class="btn btn-link" type="button" title="<%- t('dashboard', 'input:reload') %>"><i class="fa fa-refresh"></i></button>
        <kbd data-hotkey="reload">?</kbd>
        <button id="<%- idPrefix %>-reset" class="btn btn-link" type="button" title="<%- t('dashboard', 'input:reset') %>"><i class="fa fa-eraser"></i></button>
        <kbd data-hotkey="reset">?</kbd>
      </div>
    </div>
    <div class="dashboard-input-quantity kbd-container">
      <label for="<%- idPrefix %>-quantity" class="dashboard-header"><%- t('dashboard', 'input:quantity') %></label>
      <input id="<%- idPrefix %>-quantity" class="form-control" type="text" maxlength="3">
      <kbd data-hotkey="focusQuantity" class="is-inside">?</kbd>
      <div class="dashboard-input-actions">
        <button id="<%- idPrefix %>-printServiceTag" class="btn btn-link" type="button" title="<%- t('dashboard', 'input:printServiceTag') %>"><i class="fa fa-print"></i></button>
        <kbd data-hotkey="printServiceTag">?</kbd>
      </div>
    </div>
  </div>
  <div class="dashboard-input-nc12AndGprs">
    <div class="dashboard-input-nc12 kbd-container">
      <label for="<%- idPrefix %>-nc12" class="dashboard-header"><%- t('dashboard', 'input:nc12') %></label>
      <span class="dashboard-input-nc12-overlay dashboard-input-weight-enabled"><%- t('dashboard', 'input:nc12:weight:enabled') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-ft-enabled"><%- t('dashboard', 'input:nc12:ft:enabled') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-ft-disabled"><%- t('dashboard', 'input:nc12:ft:disabled') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-hid-enabled"><%- t('dashboard', 'input:nc12:hid:enabled') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-hid-disabled"><%- t('dashboard', 'input:nc12:hid:disabled') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-ledOnly"><%- t('dashboard', 'input:nc12:ledOnly') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-testOnly"><%- t('dashboard', 'input:nc12:testOnly') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-noProgram"><%- t('dashboard', 'input:nc12:noProgram') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-noProgramming"><%- t('dashboard', 'input:nc12:noProgramming') %></span>
      <span class="dashboard-input-nc12-overlay dashboard-input-multiNc12"><%- t('dashboard', 'input:nc12:multi') %></span>
      <input id="<%- idPrefix %>-nc12" class="form-control" type="text" maxlength="12">
      <kbd data-hotkey="focusNc12" class="is-inside">?</kbd>
    </div>
    <div class="dashboard-input-gprs">
      <label for="<%- idPrefix %>-gprs" class="dashboard-header"><%- t('dashboard', 'input:gprs') %></label>
      <input id="<%- idPrefix %>-gprs" class="form-control" type="text" disabled>
    </div>
  </div>
  <div class="dashboard-input-buttons">
    <button id="<%- idPrefix %>-start" class="btn btn-primary dashboard-input-start kbd-container" type="submit">
      <span><%- t('dashboard', 'input:start') %></span>
      <kbd data-hotkey="start" class="is-inside">?</kbd>
    </button>
    <button id="<%- idPrefix %>-cancel" class="btn btn-danger dashboard-input-cancel kbd-container" type="submit">
      <span><%- t('dashboard', 'input:cancel') %></span>
      <kbd data-hotkey="cancel" class="is-inside">?</kbd>
    </button>
    <button id="<%- idPrefix %>-toggleWorkMode" class="btn btn-warning dashboard-input-toggleWorkMode kbd-container" type="button" title="<%- t('dashboard', 'input:toggleWorkMode') %>">
      <i class="fa fa-smile-o"></i>
      <i class="fa fa-list-ol"></i>
      <kbd data-hotkey="toggleWorkMode" class="is-inside">?</kbd>
    </button>
    <button id="<%- idPrefix %>-continue" class="btn btn-primary dashboard-input-continue kbd-container" type="button" title="<%- t('dashboard', 'input:continue') %>">
      <i class="fa fa-arrow-right"></i>
      <kbd data-hotkey="continue" class="is-inside">?</kbd>
    </button>
  </div>
</form>
