<li class="list-group-item list-group-item-<%- className %> dashboard-leds-led">
  <div class="dashboard-leds-status"><i class="fa <%- statusIcon %>"></i></div>
  <div class="dashboard-leds-serialNumber"><%- serialNumber %></div>
  <div class="dashboard-leds-info" title="<%= name %>">
    <span class="dashboard-leds-name"><%= name %></span>
    <span class="dashboard-leds-nc12"><%= nc12 %></span>
  </div>
  <div class="dashboard-leds-error"><%- error %></div>
</li>
