<div id="<%- idPrefix %>-nc12Picker" class="dashboard-nc12Picker list-group">
  <% programs.forEach(function(program, i) { %>
  <a class="list-group-item dashboard-nc12Picker-item kbd-container" data-nc12="<%- program.nc12 %>">
    <h3><%= program.nc12 %></h3>
    <h4><%= program.name %> (<%- program.quantityDone.toLocaleString() %>/<%- program.quantityTodo.toLocaleString() %>)</h4>
    <kbd class="is-inside"><%- i + 1 %></kbd>
  </a>
  <% }) %>
</div>
