<div class="dashboard <%- localUser ? 'is-localUser' : 'is-remoteUser' %> <%- inProgress ? 'is-inProgress' : 'is-idle' %> <%- windowFocused ? 'has-windowFocus' : '' %> <%- workModeChangeEnabled ? 'is-workModeChangeEnabled' : '' %> <%- waitingForHidLamps ? 'is-waitingForHidLamps' : '' %> <%- waitingForLeds ? 'is-waitingForLeds' : '' %> <%- waitingForComponentWeight ? 'is-waitingForComponentWeight' : '' %> <%- waitingForContinue ? 'is-waitingForContinue' : '' %>" data-work-mode="<%- workMode %>" data-input-mode="<%- inputMode %>" data-waiting="<%- waitingForContinue || '' %>">
  <div class="dashboard-indicators">
    <i id="<%- idPrefix %>-connection" class="fa fa-signal dashboard-indicator-connection"></i>
    <div id="<%- idPrefix %>-toggleInputMode" class="dashboard-indicator dashboard-indicator-inputMode kbd-container">
      <span class="dashboard-indicator-inputMode-local"><%- t('dashboard', 'inputMode:local') %></span>
      <span class="dashboard-indicator-inputMode-remote"><%- t('dashboard', 'inputMode:remote') %></span>
      <kbd data-hotkey="toggleInputMode" class="is-inside">?</kbd>
    </div>
    <div id="<%- idPrefix %>-windowFocus" class="dashboard-indicator dashboard-indicator-windowFocus">
      <span class="dashboard-indicator-windowFocus-active"><%- t('dashboard', 'windowFocus:active') %></span>
      <span class="dashboard-indicator-windowFocus-inactive"><%- t('dashboard', 'windowFocus:inactive') %></span>
    </div>
    <div id="<%- idPrefix %>-licenseError" class="dashboard-indicator dashboard-indicator-licenseError" style="display: <%- licenseError ? 'inline-block' : 'none' %>">
      <span><%- t('dashboard', 'licenseError') %></span>
    </div>
  </div>
  <form id="<%- idPrefix %>-inputModeForm" class="dashboard-inputModeForm input-group is-hiding" style="display: none">
    <input id="<%- idPrefix %>-password" type="password" class="form-control" placeholder="<%- t('dashboard', 'inputMode:password') %>">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-unlock"></i></button>
    </span>
  </form>
  <div class="dashboard-progress progress">
    <div id="<%- idPrefix %>-progressBar" class="progress-bar <%- progressBarClassName %>" style="width: <%- progressBarWidth %>"></div>
  </div>
  <div class="dashboard-leftColumn"></div>
  <div class="dashboard-rightColumn">
    <button class="dashboard-continue dashboard-continue-led btn btn-success">
      <i class="fa fa-arrow-right"></i>
      <p><%- t('dashboard', 'continue:led:p1') %></p>
      <p><%- t('dashboard', 'continue:led:p2') %></p>
    </button>
    <% ['test', 'glp2', 'vis', 'programmed'].forEach(function(type) { %>
    <button class="dashboard-continue dashboard-continue-<%- type %> btn btn-warning">
      <i class="fa fa-arrow-right"></i>
      <p><%- t('dashboard', 'continue:' + type + ':p1') %></p>
      <p><%- t('dashboard', 'continue:' + type + ':p2') %></p>
    </button>
    <% }) %>
    <button class="dashboard-continue dashboard-continue-ft btn btn-warning">
      <i class="fa fa-exclamation-triangle"></i>
      <p><%- t('dashboard', 'continue:ft:p1') %></p>
      <p><%- t('dashboard', 'continue:ft:p2') %></p>
    </button>
    <button class="dashboard-continue dashboard-continue-weight-scanning btn btn-warning">
      <i class="fa fa-barcode"></i>
      <p><%- t('dashboard', 'continue:weight:scanning:p1') %></p>
      <p><%- t('dashboard', 'continue:weight:scanning:p2') %></p>
    </button>
    <button class="dashboard-continue dashboard-continue-weight-weighing btn btn-warning">
      <i class="fa fa-balance-scale"></i>
      <p><%- t('dashboard', 'continue:weight:weighing:p1') %></p>
      <p><span id="<%- idPrefix %>-weight">0</span>g</p>
    </button>
  </div>
</div>
