<div class="dropup embedded-actions <%- left ? 'embedded-left' : 'embedded-right' %>" data-app="<%- app %>">
  <% _.forEach(actions, function(action, id) { %>
  <button data-action="<%- id %>" class="btn btn-default btn-lg <%- action.separator ? 'embedded-separator' : '' %>" type="button" title="<%- action.title || '' %>">
    <i class="fa <%- action.icon || 'fa-question' %>"></i>
  </button>
  <% }) %>
  <button data-action="switch" class="btn btn-default btn-lg" type="button" title="<%- t('core', 'embedded:actions:switch') %>">
    <i class="fa fa-window-restore"></i>
  </button>
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-cogs"></i>
  </button>
  <ul class="dropdown-menu <%- left ? '' : 'dropdown-menu-right' %>">
    <li><a data-action="switch"><i class="fa fa-window-restore"></i><span><%- t('core', 'embedded:actions:switch') %></span></a></li>
    <li><a data-action="refresh"><i class="fa fa-refresh"></i><span><%- t('core', 'embedded:actions:refresh') %></span></a></li>
    <li><a data-action="config"><i class="fa fa-wrench"></i><span><%- t('core', 'embedded:actions:config') %></span></a></li>
    <li><a data-action="reboot"><i class="fa fa-undo"></i><span><%- t('core', 'embedded:actions:reboot') %></span></a></li>
    <li><a data-action="shutdown"><i class="fa fa-power-off"></i><span><%- t('core', 'embedded:actions:shutdown') %></span></a></li>
    <li class="dev hidden"><a data-action="restartBrowser"><i class="fa"></i><span><%- t('core', 'embedded:actions:restartBrowser') %></span></a></li>
    <li class="dev hidden"><a data-action="resetBrowser"><i class="fa"></i><span><%- t('core', 'embedded:actions:resetBrowser') %></span></a></li>
    <li class="dev hidden"><a data-action="noKiosk"><i class="fa"></i><span><%- t('core', 'embedded:actions:noKiosk') %></span></a></li>
  </ul>
</div>
