<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <base href="/">
  <title>Programator Xitanium</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="container">
  <h1 id="hd">Programator Xitanium</h1>
  <hr>
  <form id="programForm" class="input-append">
    <input id="aoc" class="span2" type="text" maxlength="4" autocomplete="off" autofocus>
    <input id="program" class="btn btn-primary" type="submit" value="Programuj">
  </form>
  <hr>
  <p id="status">
    <span id="status-time">HH:MM:SS</span>
    <span id="status-wait" class="status">
      Czekam na programowanie...
    </span>
    <span id="status-program" class="status">
      Programuję wartość <span class="status-aoc">0</span>...
    </span>
    <span id="status-success" class="status">
      Zaprogramowano wartość <span class="status-aoc">0</span>!
    </span>
    <span id="status-failure" class="status">
      Nie udało się zaprogramować wartości <span class="status-aoc">0</span>!
    </span>
  </p>
  <ul id="result">
    <li id="result-program"><img src="img/glassy-smiley-late.svg">
    <li id="result-success"><img src="img/glassy-smiley-good.svg">
    <li id="result-failure"><img src="img/glassy-smiley-bad.svg">
  </ul>
  <ul id="history">
    <% historyEntries.forEach(function(historyEntry) { %>
    <li class="btn btn-<%= historyEntry.result ? 'success' : 'danger' %>"><%= historyEntry.aoc %> @ <%= historyEntry.timeString %>
      <% }) %>
  </ul>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.roundabout.min.js"></script>
<script>
var CONFIG = {
  minAoc: <%= config.minAoc %>,
  maxAoc: <%= config.maxAoc %>,
  programming: <%= programming %>
};
</script>
<script src="js/main.js"></script>
</body>
</html>
