<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Programy - Programator Xitanium</title>
  <link rel="stylesheet" href="/css/main.css">
  <style>
  p {
    line-height: 1.4;
  }
  #reloadPassword {
    font-family: monospace;
    font-size: 17.5px;
    padding: 11px;
    width: 100px;
  }
  </style>
</head>
<body>
<div id="container">
  <h1 id="hd"><a href="/">Programator Xitanium</a></h1>
  <hr>
  <h2>Programy</h2>
  <p>Poniżej znajdują się programy załadowane z pliku:<br><code><%- file %></code></p>
  <hr>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#
        <th>12NC
        <th>Etykieta
        <th>Wartość
      </tr>
    </thead>
    <tbody id="programsList">
      <% programs.forEach(function(program, i) { %>
      <tr>
        <td><%= i + 1 %>
        <td><%= program.nc %>
        <td><%= program.label %>
        <td><%= program.aoc %>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="form-actions">
    <div class="input-append">
      <input id="reloadPassword" type="password" placeholder="Hasło..." autocomplete="off">
      <button id="reloadPrograms" class="btn btn-large btn-primary">Przeładuj programy</button>
    </div>
  </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/programs.js"></script>
</body>
</html>
